body {
  display: flex;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
  color: #abaaaa;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #040624, #012e2e);
}

main {
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
footer {
  background: linear-gradient(to top, #040624, #012e2e);
  color: #404040;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}
h1, h2 {
  color: #007bff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #008080;
  font-weight: bold;
}

a:hover {
  color: #0056b3;
}

img {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

header {
  background: linear-gradient(to top, #040624, #012e2e);
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 4%;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav a:hover {
  color: #f0f0f0; 
}

.page-number-container {
  display: flex;
  margin-left: 6%;
  text-align: left;
  flex-direction: row;
}

.page-number-link {
  display: inline-block;
  margin-right: 10px;
  /* Your other styles here */
}
.comments-container{
  margin-left: 6%;
  text-align: left;
}
.reply-text{
  color: #989898;
}
.reply-link{
  font-size: small;
  color: #008585;
}
.show-replies-link{
  font-size: smaller;
  color: #006666;
}
.comment-text{
  color: #f0f0f0;
}
.timestamp{
  color: #4c4c4c;
}
.username{
  color: #747474;
}
.like-count{
  font-size: smaller;
  color: #6000ce;
}
.like-link{
  font-size: smaller;
  color: #00440e;
}
.dislike-link{
  font-size: smaller;
  color: #440000;
}
.delete-link{
  font-size: smaller;
  color: #9e0000;
}