<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Canvas home page.</title>
    <style>
        #homeCanvas {
            display: block;/*Never change this if you want to work with mouse listeners because in styles.css, body has flex attribute that carries over to canvas element.*/
            margin: auto;
        }
        .iframe-container {
            position: absolute;
            display: none;
            border: none;
        }
    </style>
</head>
<body>
    <canvas id="homeCanvas" oncontextmenu="return false;"></canvas>
    <script>
        const user = {{ 'true' if user else 'false' }};
    </script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>