<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
  <body>
<form id = form method="POST" action="{{ url_for('create_forum') }}">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name }}
    {{ form.description.label }} {{ form.description }}
    <input type="submit" value="Create">
    <script>document.getElementById("form").addEventListener("submit", function() {
        window.opener.location.href = '/home';
      });</script>
</form>
</body>