<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ contents.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body {% if hide_header %} oncontextmenu="return false;" {% endif %}>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% if not hide_header %}
    {% include 'header.html' %}
    {% endif %}
    <h1> Welcome to {{ contents.name|safe }} forum</h1>
    <p>{{ contents.description|safe }}</p>
    <p>Created at: {{ contents.created_at }}</p>

<a href="#" onclick="window.open('{{url_for('create_post' , forumid=contents.id)}}', 'newwindow', 'height=300,width=300'); return false;">Create a Post</a>

<h1>Posts List</h1>
<ul>
  {% for post in posts %}
    <li>
      <a href= {{post.link}}&hide_header={{hide_header}} > {{ post.title|safe }}</a>
      <p>Created at: {{ post.created_at }}</p>
    </li>
  {% endfor %}
</ul>
<div class="page-number-container">
{% for i in range(0, postcount + 1) %}
{% if i == page %}
    <span class="page-number-link">{{ i }}</span>
{% else %}
    <a class="page-number-link" href="{{ url_for('forum_page', id=contents.id,page=i,hide_header=hide_header) }}">{{ i }}</a>
{% endif %}
{% endfor %}
</div>
{% include 'footer.html' %}
</body>
</html>
<a href="{{(url_for('forums_page',hide_header=hide_header))}}">Back to Forum List</a>