<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forums List</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body {% if hide_header %} oncontextmenu="return false;" {% endif %}>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% if not hide_header %}
  {% include 'header.html' %}
  {% endif %}
  <h1>Forum List</h1>
  <ul>
    {% for forum in forums %}
    <li>
      <a href={{forum.link}}&hide_header={{hide_header}}> {{ forum.name|safe }}</a>
      <p>{{ forum.description|safe }}</p>
      <p>Created at: {{ forum.created_at }}</p>
    </li>
    {% endfor %}
  </ul>
  <div class="page-number-container">
    {% for i in range(0, page_count + 1) %}
      {% if i == page %}
        <span class="page-number-link">{{ i }}</span>
      {% else %}
        <a href="{{ url_for('forums_page', page=i,hide_header=hide_header) }}" class="page-number-link">{{ i }}</a>
      {% endif %}
    {% endfor %}
  </div>
  <a href="#" onclick="window.open('{{url_for('create_forum')}}', 'newwindow', 'height=300,width=300'); return false;">Create a Forum</a>
  {% include 'footer.html' %}
</body>

</html>