<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{url_for('canvas_home')}}">Home??</a></li>
            <li><a href="{{url_for('forums_page')}}">Forum</a></li>
            <li><a href="{{url_for('market')}}">Marketplace(Not Real)</a></li>
            <li><a href="{{url_for('games')}}">Games</a></li>
            <li><a href="{{url_for('gyrowheel_home')}}">GyroWheel APP</a></li>
            <li><a href="/docs">Api Docs</a></li>
            <li><a href="/vue">Vue Thing</a></li>
            {% if user %}
                <li><a href="{{url_for('logout')}}">Logout</a></li>
                <li>{{ user }}</li>
                <li><img src="{{ url_for('static', filename=picture) }}" alt="{{ user }}" style="width: 40px; height: 60px;"></li>
                <li><a href="{{url_for('cart')}}">Your Cart</a></li>
                <li><a href="{{url_for('orders')}}">Your Orders</a></li>
            {% else %}
                <li><a href="{{url_for('login')}}">Login</a></li>
                <li><a href="{{url_for('register')}}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
