<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% include 'header.html' %}
  {% if user %}
  <h1>Welcome {{ user }}</h1>
  <img src="{{ url_for('static', filename=picture) }}" alt="{{ user }}" style="width: 120px; height: 180px;">
  {% else %}
  <h1>Welcome</h1>
  {% endif %}
  {% if user %}
  <h2>Your stats</h2>
  <h3># of Comments: {{stats.comment_count}}</h3>
  <h3># of Posts: {{stats.post_count}}</h3>
  <h3># of Comment Karma: {{stats.comment_karma}}</h3>
  <h3># of Post Karma: {{stats.post_karma}}</h3>
  <h4><a href="/change-username">Change username</a></h4>
  {% endif %}
  {% include 'footer.html' %}
</body>

</html>
