<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body {% if hide_header %} oncontextmenu="return false;" {% endif %}>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% if not hide_header %}
  {% include 'header.html' %}
  {% endif %}
  {% if user %}
  <h1>Welcome {{ user }}</h1>
  <img src="{{ url_for('static', filename=picture) }}" alt="{{ user }}" style="width: 120px; height: 180px;">
  {% else %}
  <h1>Welcome</h1>
  {% endif %}
  {% if user %}
  <h2>Your stats</h2>
  <h3># of Comments: {{stats.comment_count}}</h3>
  <h3># of Posts: {{stats.post_count}}</h3>
  <h3># of Comment Karma: {{stats.comment_karma}}</h3>
  <h3># of Post Karma: {{stats.post_karma}}</h3>
  <h4><a href="#" onclick="window.open('{{url_for('add_profile_picture')}}', 'newwindow', 'height=300,width=300'); return false;">Add profile picture</a></h4>
  <h4><a href="{{url_for('remove_profile_picture',hide_header=hide_header)}}">Remove profile picture</a></h4>
  <h4><a href="{{url_for('change_username',hide_header=hide_header)}}">Change username</a></h4>
  <h4><a href="{{url_for('change_password',hide_header=hide_header)}}">Change password</a></h4>
  <h4><a href="{{url_for('set_password',hide_header=hide_header)}}">Set Password</a> <br>If you registered with OAUTH2 methods and want to log in from the site using username and password.</h4>
  <h4><a href="{{url_for('remove_account',hide_header=hide_header)}}">Remove account</a></h4>
  {% endif %}
  {% include 'footer.html' %}
</body>

</html>
