<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marketplace</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

  <body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% include 'header.html' %}
  {% if user %}
  {% endif %}
  <div class="products-grid">
      {% for product in products %}
      <div class="product-item">

          <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}" style="width: 300px; height: 300px;">
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
          <p>Price: {{ product.price }}</p>
          <form action="/add-to-cart" method="post">
            {{ form.csrf_token }}
            {{ form.product_id(value=product.id) }}
            <input type="submit" value="Add to Cart">
          </form>
          <br>
          <a href="{{ url_for('forum_page', id=product.forum_id) }}">Go to Product's Forum</a>
          <br>
      </div>
      {% endfor %}

  </div>
  <br><br>
  <a href="#"
    onclick="window.open('{{url_for('add_product')}}', 'newwindow', 'height=600,width=300'); return false;">Add product</a>
  {% include 'footer.html' %}
  </body>
</html>