<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Simple Canvas Game 2</title>
    <style>
        #gameCanvas {
            display: block;
            margin: auto;
        }
    </style>
</head>
<body {% if hide_header %} oncontextmenu="return false;" {% endif %}>
    {% if not hide_header %}
    {% include 'header.html' %}
    {% endif %}
    <canvas id="gameCanvas" width="690" height="390" oncontextmenu="return false;"></canvas>
    <script src="{{ url_for('static', filename='js/minesweeper.js') }}"></script>
    {% if not hide_header %}
    {% include 'footer.html' %}
    {% endif %}
</body>
</html>
