<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ contents.title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% include 'header.html' %}
  <h1>{{ contents.title }}</h1>
  <p>{{ contents.content }}</p>
  <p>Created at: {{ contents.created_at }}</p>
  <p>Created by: {{ created_by }}</p>
  <p>Updated at: {{ contents.updated_at }}</p>
  <p>Likes: {{contents.likes}}</p>
  {% if user and user==created_by%}
  <a href="#" onclick="window.open('{{url_for('update_post' , postid=contents.id)}}', 'newwindow', 'height=300,width=300'); return false;">Update this Post</a>
  {% endif %}
  <a href="#" onclick="fetch('{{ url_for('like_post', postid=contents.id) }}').then(response => {location.reload();})">Like this post</a>
  <a href="#" onclick="fetch('{{ url_for('dislike_post', postid=contents.id) }}').then(response => {location.reload();})">Dislike this post</a>
  {% if user and user==created_by%}
  <a href="#" onclick="fetch('{{ url_for('delete_post', postid=contents.id) }}').then(response => {location.replace('{{url_for('forum_page',id=contents.forum_id)}}');})">Delete this post</a>
  {% endif %}
</div>
  <div id="comments-container" class="comments-container"></div>
  <script>
    const postid = {{ contents.id }}
    const comments = {{ comments| tojson }};
    const parsedComments = comments;
    const commentsContainer = document.getElementById('comments-container');

    function displayComments(commentList, replyMargin = 20) {
      commentList.forEach(comment => {
        const commentElement = document.createElement('div');
        // Set the ID of the div to commentId
        commentElement.id = `comment-${comment.id}`;

        if (comment.parent_id !== 0) {
          // If parent_id exists, append as child to the corresponding parent
          const parentContainer = document.getElementById(`comment-${comment.parent_id}`);
          parentContainer.appendChild(commentElement);

          commentElement.style.marginLeft = `${replyMargin}px`;
          // Display the comment text for child comments
          commentElement.innerHTML = `
                  <strong class="reply-text">${comment.content}</strong> - <i class="username">${comment.username}</i> <div class="timestamp">${comment.created_at}</div>   
              `;
        } else {
          // If no parent_id, use lighter text
          commentElement.innerHTML = `
                  <strong class="comment-text">${comment.content}</strong> - <i class="username">${comment.username}</i> <div class="timestamp">${comment.created_at}</div>
              `;
          commentsContainer.appendChild(commentElement);
        }


        const replyLink = document.createElement('a');
        replyLink.href = '#';
        replyLink.textContent = 'Reply';
        replyLink.classList.add('reply-link');
        // Set onclick event to open a new window
        replyLink.onclick = function () {
          const url = '/create/comment';
          const params = `postid=${postid}&commentid=${comment.id}`;
          window.open(`${url}?${params}`, 'newwindow', 'height=300,width=300');
          return false;
        };
        commentElement.appendChild(replyLink);

        const likeLink = document.createElement('a');
        likeLink.href = '#';
        likeLink.textContent = ' Like';
        likeLink.classList.add('like-link');
        // Set onclick event to open a new window
        likeLink.onclick = function () {
          const url = '/comment/like';
          const params = `postid=${postid}&commentid=${comment.id}`;
          fetch(`${url}?${params}`).then(response => {location.reload();});
        };
        commentElement.appendChild(likeLink);

        const likesSpan = document.createElement('span');
        likesSpan.textContent = `\t${comment.likes} Likes`;
        likesSpan.classList.add('like-count');
        commentElement.appendChild(likesSpan);

        const dislikeLink = document.createElement('a');
        dislikeLink.href = '#';
        dislikeLink.textContent = ' Dislike';
        dislikeLink.classList.add('dislike-link');
        // Set onclick event to open a new window
        dislikeLink.onclick = function () {
          const url = '/comment/dislike';
          const params = `postid=${postid}&commentid=${comment.id}`;
          fetch(`${url}?${params}`).then(response => {location.reload();});
        };
        commentElement.appendChild(dislikeLink);
        {% if user %}
        if (comment.username === '{{user}}'){
          const deleteLink = document.createElement('a');
          deleteLink.href = '#';
          deleteLink.textContent = ' Delete';
          deleteLink.classList.add('delete-link');
          // Set onclick event to open a new window
          deleteLink.onclick = function () {
            const url = '{{url_for('delete_comment')}}';
            const params = `commentid=${comment.id}`;
            fetch(`${url}?${params}`).then(response => {location.reload();});

          };
          commentElement.appendChild(deleteLink);
        }
        {% endif %}
        if (comment.has_replies === true) {
          const lineBreak = document.createElement('br');
          commentElement.appendChild(lineBreak);
          const showReplies = document.createElement('a');
          showReplies.href = '#';
          showReplies.textContent = 'Show Replies';
          showReplies.classList.add('show-replies-link');
          commentElement.appendChild(showReplies);
          const url = '/fetch/replies';
          const params = `postid=${postid}&commentid=${comment.id}`;
          showReplies.onclick = function () {
            const isHidden = showReplies.textContent === 'Show Replies';

            if (isHidden) {
              showReplies.textContent = 'Hide Replies';
              fetchAndDisplayReplies(`${url}?${params}`);
            } else {
              //Better way is to just hide and re-show the replies instead of fetching them again.
              showReplies.textContent = 'Show Replies';
              let currentElement = commentElement.lastChild;
              while (currentElement !== null && currentElement !== showReplies) {
                const previousElement = currentElement.previousSibling;
                commentElement.removeChild(currentElement);
                currentElement = previousElement;
              }
            }
          };
        }
      });
      function fetchAndDisplayReplies(endpoint) {
        fetch(endpoint)
          .then(response => {
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
          })
          .then(data => {
            displayComments(data)
          })
          .catch(error => {
            console.error('Error fetching data:', error);
          });
      }
    }

    // Initial call to display the comments
    displayComments(parsedComments);
  </script>
  <div class="page-number-container">
    {% for i in range(0, comment_count + 1) %}
    {% if i == page %}
    <span class="page-number-link">{{ i }}</span>
    {% else %}
    <a class="page-number-link" href="{{ url_for('post_page', id=contents.id,page=i) }}">{{ i }}</a>
    {% endif %}
    {% endfor %}
  </div>
  <a href="#"
    onclick="window.open('{{url_for('create_comment' , postid=contents.id)}}', 'newwindow', 'height=300,width=300'); return false;">Create
    a Comment</a>
  {% include 'footer.html' %}
</body>

</html>