<html>
  <head>
    <title>{{ contents.title }}</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <h1>{{ contents.title }}</h1>
    <p>{{ contents.content }}</p>
    <p>Created at: {{ contents.created_at }}</p>
    <p>Created by: {{ created_by }}</p>
    <p>Updated at: {{ contents.updated_at }}</p>