<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy for GyroWheel APP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  {% include 'header.html' %}
  <h3>We don't collect your data in GyroWheel APP. We also don't share your data in GyroWheel APP.</h3>
  <h3>If you are having suspicions about this statement, you can visit </h3>
  <h3>https://github.com/serdarbsgn/gyrowheel to inspect the code </h3>
  {% include 'footer.html' %}
</body>

</html>