<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body {% if hide_header %} oncontextmenu="return false;" {% endif %}>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% if not hide_header %}
    {% include 'header.html' %}
    {% endif %}
    <h1>User Registration</h1>
    <form method="POST" action="{{ url_for('register') }}">
      {{ form.csrf_token }}
      {{ form.username.label }} {{ form.username }}
      {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <br>
      {{ form.email.label }} {{ form.email }}
      {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <br>
      {{ form.password.label }} {{ form.password }}
      {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <br>
      <input type="submit" value="Register">
    </form>
    <li><a href="{{url_for('google_sign_in')}}">Register with Google</a></li>
    <li><a href="{{url_for('facebook_sign_in')}}">Register with Facebook</a></li>
    <li><a href="{{url_for('login')}}">Login</a></li>
    <li><a href="/">Home</a></li>
    {% include 'footer.html' %}
  </body>
</html>
