<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Simple Canvas Game</title>
    <style>
        #gameCanvas {
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    <canvas id="gameCanvas" width="800" height="800"></canvas>

    <script>
        // Get a reference to the canvas element
        const canvas = document.getElementById('gameCanvas');
        const ctx = canvas.getContext('2d');
        const Direction = {
            UP: 'UP',
            DOWN: 'DOWN',
            LEFT: 'LEFT',
            RIGHT: 'RIGHT'
        };
        let colour = 255
        // Define player position
        let playerX = canvas.width/2;
        let playerY = canvas.height/2;
        let playerArr = []
        let direction = NaN;
        let speed = 10;
        let snakeSize = 10;
        let baitX = 0;
        let baitY = 0;
        setBaitCoordinates()
        let playerSize = 1;
        let startGame = false;
        let pauseGame = false;
        let lastFrameTime = 0;
        const frameDelay = 1000 / 25;

        function normalizeCoordinates(normX, normY) {
        if (normX % 10 > 6) {
            normX = parseInt(((normX / 10) + 1)) * 10;
        } else normX = parseInt(normX / 10) * 10;
        if (normY % 10 > 6) {
            normY = parseInt(((normY / 10) + 1))* 10;
        } else normY = parseInt(normY / 10) * 10;
        return [normX, normY];
        }

        function setBaitCoordinates() {
        baitX = parseInt(((Math.random() * (canvas.width - 60)) + 20) / 10) * 10;
        baitY = parseInt(((Math.random() * (canvas.height - 60)) + 20) / 10) * 10;
        }

        // Main game loop
        function gameLoop() {

            const currentTime = performance.now();
            const deltaTime = currentTime - lastFrameTime;

            if (deltaTime > frameDelay) {
                lastFrameTime = currentTime;
                if(startGame){

                    if (pauseGame){
                        renderPause()
                    }
                    else{
                        if (baitX === playerX && baitY === playerY){
                            playerSize += 1;
                            setBaitCoordinates();
                        }
                        if (direction === Direction.UP && playerY > 20){
                            playerY -= speed;
                        }
                        if (direction === Direction.DOWN && playerY < canvas.height - 30){
                            playerY += speed;
                        }
                        if (direction === Direction.LEFT && playerX > 20){
                            playerX -= speed;
                        }
                        if (direction === Direction.RIGHT && playerX < canvas.width - 30){
                            playerX += speed;
                        }
                        const collisionIndex = playerArr.findIndex(c => c[0] === playerX && c[1] === playerY);
                        if (collisionIndex !== -1) {
                            playerSize = playerSize - parseInt(collisionIndex/snakeSize)
                            if (playerSize == 0){
                                startGame = false
                            }
                            playerArr.splice(0,collisionIndex);
                        }
                        if (playerArr.length > playerSize * snakeSize){
                            playerArr.shift();
                        }
                        //playerArr.push(normalizeCoordinates(playerX,playerY));//to get a clear snake line,needs revision
                        playerArr.push([playerX,playerY]);//to get more fluid snake line

                        render();
                    }
                    
                }
                else{
                    renderMenu();
                    playerX = canvas.width/2;
                    playerY = canvas.height/2;
                    playerArr = []
                    direction = NaN;
                    speed = 10;
                    snakeSize = 10;
                    setBaitCoordinates()
                    playerSize = 1;
                    startGame = false;
                }
            }
            requestAnimationFrame(gameLoop);
        }

        // Function to render the game state
        function render() {
            
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.fillStyle = 'gray';
            ctx.fillRect(0,0,canvas.width,canvas.height);
            ctx.fillStyle = 'green';
            ctx.fillRect(25,25,canvas.width-50,canvas.height-50);
            ctx.fillStyle = 'blue';
            ctx.fillRect(baitX, baitY, 10, 10);
            let snakeParts = 0;
            const lastIndex = playerArr.length - 1;
            playerArr.forEach(function(e) {
                ctx.beginPath();
                ctx.arc(e[0]+5, e[1]+5, 5, 0, Math.PI * 2);
                if(snakeParts==lastIndex){
                    ctx.fillStyle = 'black';
                }
                else{
                    let r_section = (255+(parseInt(snakeParts/10)-playerSize)*25)%256;
                    let b_section = Math.abs(((255 - r_section)%256))
                    ctx.fillStyle = `rgb(${r_section},${Math.abs(b_section-128)},${b_section})`;
                }
                snakeParts+=1;
                ctx.fill();
                ctx.closePath();
            });
            ctx.font = '20px Arial';
            ctx.fillStyle = 'black';
            ctx.fillText(playerSize,canvas.width/2,20)
        }

        function renderMenu(){
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.fillStyle = 'gray';
            ctx.fillRect(0,0,canvas.width,canvas.height);
            ctx.font = '20px Arial';
            ctx.fillStyle = 'black';
            ctx.fillText("Press Space To Play or Pause",canvas.width/2-50,canvas.height/2-50)
            ctx.fillText("WASD or Arrows to Move",canvas.width/2-50,canvas.height/2)
            ctx.fillText("B to boost, you can pass through yourself if you time it right",canvas.width/2-200,canvas.height/2+50)

        }
        function renderPause(){

        }

        gameLoop();

        document.addEventListener('keydown', function(event) {

            if ((event.key == 'ArrowUp' || event.key.toUpperCase() == 'W') && direction!= Direction.DOWN && direction!=Direction.UP)  {
                direction = Direction.UP
                const normArr = normalizeCoordinates(playerX,playerY)
                playerX = normArr[0]
                playerY = normArr[1]
            }
            if ((event.key == 'ArrowDown'|| event.key.toUpperCase()  == 'S')&& direction!= Direction.DOWN && direction!=Direction.UP){
                direction = Direction.DOWN
                const normArr = normalizeCoordinates(playerX,playerY)
                playerX = normArr[0]
                playerY = normArr[1]
            }
            if ((event.key == 'ArrowLeft'|| event.key.toUpperCase()  == 'A')&& direction!= Direction.LEFT && direction!=Direction.RIGHT){
                direction = Direction.LEFT
                const normArr = normalizeCoordinates(playerX,playerY)
                playerX = normArr[0]
                playerY = normArr[1]
            }
            if ((event.key == 'ArrowRight'|| event.key.toUpperCase()  == 'D')&& direction!= Direction.LEFT && direction!=Direction.RIGHT){
                direction = Direction.RIGHT
                const normArr = normalizeCoordinates(playerX,playerY)
                playerX = normArr[0]
                playerY = normArr[1]
            }

            if (event.key == ' ' && startGame == true){
                if (pauseGame){
                    pauseGame = false
                }
                else{
                    pauseGame = true
                }
            }


            if (event.key == ' ' && startGame == false){
                startGame = true
                direction = Direction.RIGHT
            }
            
            if (event.key.toLowerCase() == 'b'){
                speed = 20;
            }

        });
        document.addEventListener('keyup', function(event) {
            if (event.key.toLowerCase() == 'b'){
                speed = 10;
            }
        });
    </script>
    {% include 'footer.html' %}
</body>
</html>
