<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
  <body>
<form id = form method="POST" action="{{ url_for('update_post') }}">
    {{ form.csrf_token }}
    {{ form.post_id(value=postid) }}
    {{ form.title.label }} {{ form.title }}
    {{ form.content.label }} {{ form.content }}
    <input type="submit" value="Update">
</form>
</body>